@import url(https://fonts.googleapis.com/css?family=PT+Serif:400,700);





#header2-3 P {
  font-family: 'PT Serif', serif;
  color: #efefef;
  text-align: left;
  font-size: 18px;
}
#header2-3 H1 {
  font-family: 'PT Serif', serif;
  color: #000000;
  font-size: 18px;
  text-align: left;
}
#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__section {
  background: #ffffff;
}
#menu-0 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-0 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-39 .btn {
  font-family: 'PT Serif', serif;
}
#menu-53 .mbr-brand__name {
  font-size: 16px;
}
#menu-53.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-53 .mbr-navbar__section {
  background: #ffffff;
}
#menu-53 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-53 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}





#header3-59 P {
  font-family: 'PT Serif', serif;
  color: #000000;
}
#header3-59 H3 {
  font-family: 'PT Serif', serif;
  font-size: 13px;
}
#menu-56 .mbr-brand__name {
  font-size: 16px;
}
#menu-56.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-56 .mbr-navbar__section {
  background: #ffffff;
}
#menu-56 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-56 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}



#menu-13 .mbr-brand__name {
  font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-13 .mbr-navbar__section {
  background: #ffffff;
}
#menu-13 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-22 .btn {
  font-family: 'PT Serif', serif;
}
#menu-23 .mbr-brand__name {
  font-size: 16px;
}
#menu-23.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-23 .mbr-navbar__section {
  background: #ffffff;
}
#menu-23 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-23 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-21 .btn {
  font-family: 'PT Serif', serif;
}
#menu-13 .mbr-brand__name {
  font-size: 16px;
}
#menu-13.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-13 .mbr-navbar__section {
  background: #ffffff;
}
#menu-13 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-13 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-30 .btn {
  font-family: 'PT Serif', serif;
}
#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-31 .mbr-navbar__section {
  background: #ffffff;
}
#menu-31 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-29 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-29 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-38 .btn {
  font-family: 'PT Serif', serif;
}
#menu-31 .mbr-brand__name {
  font-size: 16px;
}
#menu-31.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-31 .mbr-navbar__section {
  background: #ffffff;
}
#menu-31 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-31 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-33 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-33 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}




#buttons1-37 .btn {
  font-family: 'PT Serif', serif;
}
#menu-34 .mbr-brand__name {
  font-size: 16px;
}
#menu-34.mbr-navbar--stuck .mbr-navbar__section {
  background: #ffffff;
}
#menu-34 .mbr-navbar__section {
  background: #ffffff;
}
#menu-34 .mbr-navbar__items a {
  font-family: 'PT Serif', serif;
  font-size: 16px;
}
#menu-34 .mbr-navbar__hamburger {
  color: #ffffff;
}
#contacts1-36 STRONG {
  color: #000000;
  font-family: 'PT Serif', serif;
}
#contacts1-36 P {
  color: #000000;
  font-family: 'PT Serif', serif;
  font-size: 11px;
}
